.logo1{
    width: 105px;
    height: 78px;
}
.row1{
    display: flex;
    align-items: center;
    gap: 65px;
    width: 845px;
}
@media screen and (max-width:768px){
    .row1{
        width:auto;
    }
}
@media screen and (max-width:426px) {
    .row1{
        
        flex-direction: column;
    }
    
}
@media screen and (max-width:321px){
    .btext{
        font-size: 18px;
    }
    .ptext{
        font-size: 14px;
    }
    .row1{
        text-align: center;
    }
    
}