.center-button{
  color: var(--gray-600, #4B5563);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
  display: flex;
  padding: 5px 10px;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  background: var(--gray-200, #E5E7EB);
  width: 130px;
}
#layout{
  display: flex;
  padding: 70px 50px;
  flex-direction: column;
  align-items: center;
}
.ptext{
    color: var(--gray-600, #4B5563);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}
.center-text{
  margin-top: 20px;
  color: var(--gray-600, #4B5563);
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 10px;
}
.btext{
  color: black;
  font-weight: bold;
  font-family: Inter;
  font-size: 20px;
}
.white-text{
  color: white;
  text-decoration: none;
  /* background-color:black; */
}
/* .black-text{
  color: black;
}
.dark-mode {
  color: #fff;
  background-color:black ;
}


.light-mode {
  background-color: #fff; 
  color:black;
} */